
      <% @cocktails.each do |cocktail| %>


        <div class="card-category m-1" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path(cocktail.photo.key)%>')">
        <h5> <strong><%= link_to cocktail.name.capitalize, cocktail_path(cocktail)%></strong> </h5>
        </div>
      <% end %>













